/* #region Common */

:root {
    --bofre-black: #000000;
    --bofre-dark: #2c3e50;
    --bofre-light: #3a546d;
    --bofre-succes: #1abc9c;
    --bofre-white: #ffffff;
}

.my_container {
    width: 80%;
    margin: auto;
}

.line {
    width: 15%;
    height: 3px;
}

/* #endregion Common */


/* #region Debug */

.debug section {
    height: 500px;
}

.debug .card {
    height: 100px;
    background-color: greenyellow;
}

/* #endregion Debug */


/* #region Color */

#heat_site, .foot_copy {
    height: 90px;
    background-color: var(--bofre-dark);
    color: var(--bofre-white);
}

#jumbotron, #about {
    background-color: var(--bofre-succes);
}

.foot_links {
    background-color: var(--bofre-light);
}

/* #endregion Color */

.social {
    width: 2rem;
    border: 1px solid;
    border-radius: 50%;
    line-height: 2rem;
}

section {
    padding: 2rem 0;
}

#about .btn {
    color: var(--bofre-white);
    border: 1px solid var(--bofre-white);
}